body {
    margin: 0;
    padding: 0;
    background-color: rgb(209, 209, 209);
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li, a{
    list-style:none;
    display: inline;
    text-decoration: none;
    color: whitesmoke;
}

li{
    padding-left: 40px;
    
}

a:hover{
    color: #35a0af;
    border-bottom: 3px #7FAD39 solid;
    padding-bottom: 10px;

}

#home{
    width: 100%;
    height: 500px;
    background: url("/cordel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu{
    width: 100%;
    height: 500px;
    background-color: rgba(13, 12, 14, 0.808);
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}

ul{ 
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display:flex;
    justify-content:center;
}


#botao{
    border: none;
    top: 550px;
    left: 1230px;
    position: fixed;
    float: left;
    color: rgb(245, 245, 245);
    width: 65px;
    height: 65px;
    background-color: rgba(126, 173, 57, 0.219);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

#botao:hover{
    transform: scale(1.2);
    background-color: rgb(126, 173, 57);
}

#botaotop:hover{
    border: none;
    color: whitesmoke;
}

#botaotop > a{
    padding: 30px;
}

#nossaproposta{
    width: 100%;
    display:flex;
    justify-content: center;
}

.proposta{
    width: 70%;
    padding-right: 20px;
    padding-left: 50px;
    background-color: #FFFFFF;
    color: #110111;
}

.frase{
    width: 40%;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #7FAD39;
    color: #110111;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}